:root, [data-bs-theme=light] {
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13,110,253;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10,88,202;
  --bs-link-decoration: none;
}

a {
  text-decoration: var(--bs-link-decoration);
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-2 {
  margin-top: .5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-7 {
  margin-top: 6rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.me-6 {
  margin-right: 4.5rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.ms-6 {
  margin-left: 4.5rem !important;
}

.ms-auto {
  margin-left: auto !important;
}

.py-2 {
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

@media (min-width: 576px) {
  .pb-sm-4 {
    padding-bottom: 1.5rem !important;
  }
}

@media (min-width: 992px) {
  .mt-lg-0 {
    margin-top: 0rem !important;
  }
}

